/* variables */
$mainColor: #A4C7DA;
$secondaryColor: #912721;
$thirdColor: #745214;
$fourthColor: rgb(53, 131, 33);
$fifthColor: #235A92;
$paragraphColor: #444444;
$primaryFont: "Latina", sans-serif;
$secondaryFont: "Apex", sans-serif;
$thirdFont: "Metropolis", sans-serif;
$thinAzureShading: -1px 0 #A4C7DA, 0 1px #A4C7DA, 1px 0 #A4C7DA, 0 -1px #A4C7DA;
$thinBlueShading: -1px 0 #235A92, 0 1px #235A92, 1px 0 #235A92, 0 -1px #235A92;
$thinBrownShading: -1px 0 #745214, 0 1px #745214, 1px 0 #745214, 0 -1px #745214;
$thickGreenShading: -2px 0 #358321, 0 2px #358321, 2px 0 #358321, 0 -2px #358321;
$thickBrownShading: -2px 0 #745214, 0 2px #745214, 2px 0 #745214, 0 -2px #745214;

.page{
  background-image: url('../../../assets/img/no2.jpeg');
  background-size: 100% 100%;
  background-repeat: repeat;
}

.page-title{
  margin: 2% 10%;
  font-family: $secondaryFont;
  text-align: center;
  text-shadow: $thinBlueShading;
}

.canvas{
  margin-left: 22.5%;
  max-width: 1000px;
  max-height: 400px;
  box-shadow: 0 0 10px #BEDEF0;
  border-radius: 20px;
}

.analyses-container{
  margin: 1% 10%;
  box-shadow: 0 0 5px $mainColor;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgb(0, 0, 0, 0.3);
}

.section{
  margin: auto 2%;
  border-bottom: 1px solid $mainColor;
}

.subheading{
  padding-top: 2%;
  text-align: center;
  font-family: $secondaryFont;
  font-size: 1.8rem;
}

.analyses{
  margin: 1% 5%;
  font-family: $thirdFont;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: justify;
  color: white;
}

.list{
  font-family: $secondaryFont;
  text-align: center;
  font-size: 1.8rem;
}

.li-element{
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  text-align: justify;
  font-family: $thirdFont;
  font-size: 1.5rem;
  line-height: 1.5;
  color: white;
}
.li-element:before{
  content: "⚛️";
  position: absolute;
  left: 40px;
  top: 0px;
}

.data-source{
  margin: 1% 10%;
  box-shadow: 0 0 5px $mainColor;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgb(0, 0, 0, 0.3);
  font-family: "Metropolis";
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
}

.source-data-link{
  font-family: "Apex";
  font-size: 1.4rem;
  text-decoration: none;
  color: $fifthColor;
}
.source-data-link:hover{
  cursor: pointer;
  text-shadow: $thinAzureShading;
}

/* media query */
@media (max-width: 400px){
  .page{
    background: rgb(164, 199, 218, 0.5);
  }
  .page-title{
    margin: 2% 10%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
  }
  .canvas{
    margin: 1% 5%;
  }
  .analyses-container{
    margin: 1% 5%;
  }
  .li-element:before{
    display: none;
  }
  .data-source{
    margin: 1% 5%;
  }
}

@media (min-width: 401px) and (max-width: 500px){
  .page{
    background: rgb(164, 199, 218, 0.5);
  }
  .page-title{
    margin: 2% 10%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
  }
  .canvas{
    margin: 1% 5%;
  }
  .analyses-container{
    margin: 1% 5%;
  }
  .li-element:before{
    display: none;
  }
  .data-source{
    margin: 1% 5%;
  }
}

@media (min-width: 501px) and (max-width: 750px){
  .page{
    background: rgb(164, 199, 218, 0.5);
  }
  .page-title{
    margin: 2% 10%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
  }
  .canvas{
    margin: 1% 5%;
  }
  .analyses-container{
    margin: 1% 5%;
  }
  .li-element:before{
    display: none;
  }
  .data-source{
    margin: 1% 5%;
  }
}
@media (min-width: 751px) and (max-width: 999px){
  .page{
    background: rgb(164, 199, 218, 0.5);
  }
  .page-title{
    margin: 2% 10%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
  }
  .canvas{
    margin: 1% 5%;
  }
  .analyses-container{
    margin: 1% 5%;
  }
  .li-element:before{
    display: none;
  }
  .data-source{
    margin: 1% 5%;
  }
}

@media (min-width: 1000px) and (max-width: 1299px){
  .page-title{
    line-height: 1.5;
  }
  .canvas{
    margin: 1% 5%;
  }
  .analyses-container{
    margin: 1% 5%;
  }
  .li-element:before{
    display: none;
  }
  .data-source{
    margin: 1% 5%;
  }
}

@media (min-width: 1300px) and (max-width: 1700px){
  .page-title{
    line-height: 1.5;
  }
  .canvas{
    margin: auto;
  }
  .analyses-container{
    margin: 1% 5%;
  }
  .li-element:before{
    display: none;
  }
  .data-source{
    margin: 1% 5%;
  }
}